<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE =edge">
    <meta name="viewport" content="width =device-width, initial-scale=1">

    <title>Páleníce</title>

    <script src="/js/jquery-3.0.0.min.js"></script>
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet" />    
</head>
<body>


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="@Url.Action("Index")">Pálenice</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav mr-auto">
                @if (!(bool)ViewData["loggedIn"])
                {
                    
                    <li class="nav-item active">       
                        <button type="button" onclick="location.href='@Url.Action("Registration", "Home")'" class="btn btn-primary" >Nový zákazník</button>
                    </li>
                }
                else
                {
                    <li class="nav-item active">
                        <a class="nav-link" href="@Url.Action("NewReservation", "Reservation")">Vytvořit novou rezervaci rezervace</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="@Url.Action("ReservationList", "Reservation")">Moje rezervace</a>
                    </li>

                }
            </ul>

            @if (!(bool)ViewData["loggedIn"])
            {
                          
                @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form-inline my-2 my-lg-0" }))
                {
                    <input name="login" class="form-control mr-sm-2" type="text" placeholder="Login">
                    <input name="password" class="form-control mr-sm-2" type="password" placeholder="Heslo">
                    <button name="submit" class="btn btn-outline-success my-2 my-sm-0" type="submit" value="logIn">Přihlásit</button>
                }
            }
            else
            {
                
                @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form-inline" }))
                {
                    <div class="row">
                        <div class="col">
                            <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="Uživatel @ViewData["userName"]">
                        </div>
                        <div class="col">
                            <button name="submit" class="btn btn-outline-success my-2 my-sm-0" type="submit" value="logOut">Odhlásit</button>
                        </div>
                    </div>
                }
            }

        </div>
    </nav>


    @RenderBody()
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year – My ASP.NET Application</p>
    </footer>


    

    <script src="/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>