
@{
    ViewData["Title"] = "ReservationList";
}
<div class="col-sm-8">
    <h3>Seznam rezervací</h3>
    @{
        IDictionary<DateTime, ICollection<DataLayerNetCore.Entities.Reservation>> values = (IDictionary<DateTime, ICollection<DataLayerNetCore.Entities.Reservation>>)ViewData["reservationDic"];
    }

    @if (values.Count > 0)
    {

        @foreach (DateTime date in values.Keys)
        {
            <h4>@date.ToShortDateString()</h4>
            <div class="list-group col-sm-5 ">
                @foreach (DataLayerNetCore.Entities.Reservation r in values[date])
                {
                    <a href="@Url.Action("ReservationDetail", "Administration", new {id = r.Id})" class="list-group-item list-group-item-action" >
                        <b>Čas: </b>@r.RequestedDateTime.ToShortTimeString()
                        <b>Materiál: </b>@r.Material.Name
                        <b>Množství: </b>@r.MaterialAmount Kg
                    </a>
                }
            </div>
        }
    }
    else
    {
        <p> Nejsou žádné čekající rezervace.</p>
    }
</div>
